
footer {
  margin: 15px 0px 10px;
  display: flex;
  justify-content: space-between;
}
.postLoveCount {
  min-width: 40px;
  height: 40px;
  border: 4px solid #888888;
  color: #888888;
  background-color: #dddddd;
  text-align: center;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: large;
  font-weight: bold;
}

.postPositiveLoveCount {
  border-color: green;
  color: green;
  background-color: lightgreen;
}

.postNegativeLoveCount {
  border-color: red;
  color: red;
  background-color: lightpink;
}